.homepage h1{

	text-align: center;
	margin-top: 130px;
}

.homepage p {

	width: 680px;
	margin-left: 234px;
}

#makeevents_header{

	/*Font styles*/
	font-size:1.2em;
}

#timeless_header {
	display: block;

	/*Font styles*/
	font-size: 2.2em;
}