h1.font-bebas2 {
	color: white !important;
}

h1.font-bebas2_special {
font-family: Bebas;
color: #E8377A;
text-align: center;
word-spacing: 15px;
font-size: 70px !important;
}

.img-responsive_social {
	display: inline;
	max-width: 150px;
	padding-top: 25px;
	margin-left: 35px;
}

h3.names_service { 
	text-align: center;
	color: white;
 }

/* Packages special events */
.tours_about h3.font-bebas {
	margin-top: 70px;
}

p.pkg_desc {
	font-size: 1.4em !important;
	margin-bottom: 40px;
}

img.pkg_icons {
	height: 30px !important;
	display: inline-block;
	margin-bottom: 9px;

}

.pkg_info {
	display: inline-block;
	word-spacing: 0.1em;
}

.pkg_info_sm {
	font-size: 0.6em;
	margin-left: 5px;
}

.pkg_thumb_pic {
	margin-top: 50px;
}

div.tours_packages {
	height: 1400px !important;
}