h1.font-bebas2 {
	color: white !important;
}

h1.font-bebas2_special {
font-family: Bebas;
color: #E8377A;
text-align: center;
word-spacing: 15px;
font-size: 70px !important;
}

.img-responsive_social {
	display: inline;
	max-width: 150px;
	padding-top: 25px;
	margin-left: 35px;
}

h3.names_service { 
	text-align: center;
	color: white;
 }

/*fix height in jumbotron2 packages */
 .special_why {
 	height: 1000px !important;
 }


/* Packages special events */
.tours_about h3.font-bebas {
	margin-top: 70px;
}

p.pkg_desc {
	margin-bottom: 40px;
}

img.pkg_icons {
	height: 30px !important;
	display: inline-block;
	margin-bottom: 9px;

}

.pkg_info {
	display: inline-block;
	word-spacing: 0.1em;
}

.pkg_info_sm {
	font-size: 0.6em;
	margin-left: 5px;
}

.pkg_thumb_pic1{
	margin-top: 95px;
}

.pkg_thumb_pic {
	margin-top: 0px;
}

div.special_packages {
	height: 1820px !important;
	padding-top: 25px !important;
}

/* Color for big_p */
.special_p {
	color: white !important;
}

/* Positioning of final jumbotron */
.col-md-6{
	width: 17.33333% !important;
	padding-left: 13px !important;
	padding-right: 8px !important;
}

h3.names_options {
	font-size: 18px;
	color: white;
	text-align: center;
	padding-left: 35px;
}

.change1 {
	padding-left: 33px !important;
}

.change2 {
	padding-left: 20px !important;
}